/* Scroll Bar Style */

/* width */
::-webkit-scrollbar {
    width: 16px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #413f3f;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #636060;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #686767;
}

/* Buttons */
::-webkit-scrollbar-button:single-button {
    background-color: #413f3f;
    display: block;
    border-style: solid;
    height: 13px;
    width: 16px;
  }
  /* Up */
  ::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #636060 transparent;
  }
  
  ::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    border-color: transparent transparent #777777 transparent;
  }
  /* Down */
  ::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: 8px 8px 0 8px;
    border-color: #636060 transparent transparent transparent;
  }
  
  ::-webkit-scrollbar-button:vertical:single-button:increment:hover {
    border-color: #777777 transparent transparent transparent;
  }

.marketplace-wrapper {
    background: #181616;
    width: 100%;
    min-height: 100%;
    display: flex;
    direction: rtl;
    flex-direction: row;
}


/* style for the right column of the page */

.marketplace-right-wrapper {
    position: fixed;
    z-index: 1;
    background-color: #222223;
    width: 15%;
    height: 100%;
    display: flex;
}

.marketplace-right-sub-wrapper {
    height: 100%;
    margin: 0 auto;
    width: 85%;
}

.marketplace-title {
    font-size: 150%;
    color: white;
    font-weight: 600;
    
}

.marketplace-search-wrapper {
    width: 90%;
    padding-top: 5%;
}

.marketplace-sub-search {
    background-color: #2e2e2e;
    padding: 3.5%;
    border-radius: 20px;
    border: none;
    outline: none;
    color: white;
    width: 100%;
}

.marketplace-create-button-wrapper {
    width: 95%;
    padding-top: 5%;
}

.marketplace-create-button {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #233950;
    padding: 3%;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #69a5e6;
    font-weight: 600;
    font-size: 100%;
    cursor: pointer;
}
.marketplace-create-button:hover {
    background-color: #425972;
    transition: all 500ms ease;
}

.marketplace-border-wrapper {
    padding-top: 3%;
}

.marketplace-border {
    border: 1px solid #3c3e40;
    width: 95%;  
}

.marketplace-filter-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 3%;
}

.marketplace-filter-title {
    font-size: 110%;
    color: white;
    font-weight: 600;
}

.marketplace-filter-button-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 95%;
    padding-top: 5%;
}

.marketplace-filter-cities-search {
    outline: none;
    border: 1px solid grey;
    background: none;
    padding: 2%;
    color: white;
}

.marketplace-filter-title {
    background: none;
    border: none;
    outline: none;
    color: #0866ff;
    font-weight: 600;
    font-size: 100%;
    text-align: right;
}

.marketplace-filter-button {
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 100%;
    cursor: pointer;
    text-align: right;
    text-decoration: underline;
}

.marketplace-filter-cities-wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    overflow-y: auto;
    position: absolute;
    top: 125%;
    left: 5%;
    z-index: 100;
    background: #2f2f35;
    border-radius: 5px;
}

.marketplace-filter-cities {
    color: white;
    gap: 2px;
    display: flex;
    padding: 2%;
    border: 1px solid lightslategrey;

}

.marketplace-filter-cities-button {
    border: none;
    outline: none;
    background: none;
    color: white;
    cursor: pointer;
}

.marketplace-category-wrapper{
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}

.marketplace-category-title {
    font-size: 110%;
    color: white;
    font-weight: 600;
    padding-bottom: 5%;

}

.marketplace-category-sub-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.marketplace-category {
    display: flex;
    flex-direction: row;
    gap: 5%;
    cursor: pointer;
    padding: 3%;
}

.marketplace-category:hover {
    background-color: #3a3b3c;
    border-radius: 10px;
    transition: all 500ms ease;
}

.marketplace-category-round-wrapper  {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #3a3b3c;
}

.marketplace-button-circle {
    width: 40px;
    height: 100%;
    background: none;
    outline: none;
    border-style: none;
    cursor: pointer;

}

.marketplace-sub-category-title {
    color: white;
    margin-top: 2%;
    font-weight: 600;
}

.marketplace-left-productupload-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* fix it */
    z-index: 1;
    background: #19191a5e !important;

}


/* style for the left-middle column of the page */

.marketplace-left-wrapper {
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    margin-right: 15%;
}

.productupload-exit-icon {
    position: absolute;
    top: -5%;
    right: -12%;
    width: fit-content;
    cursor: pointer;
    border: none;
    z-index: 2;
    background: rgba(255, 255, 255, -0.5);
}

.marketplace-left-products-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 10px;
    cursor: pointer;
    padding: 1%;
    padding-top: 3%;
    width: 14%;
    flex-basis: 230px;
    height: 358px;
    justify-content: space-between;
}

.marketplace-left-products-wrapper:hover {
    background-color: #6d6a6a;
    transition: all 500ms ease;
}

.marketplace-left-pricedate-product-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.marketplace-left-img-product-wrapper {
    display: flex;
    justify-content: center;
}

.marketplace-left-img-product {
    width: 240.67px;
    height: 240.67px;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.marketplace-left-price-product {
    font-weight: 600;
}

.marketplace-left-city-product {
    font-size: 80%;
}

.marketplace-left-date-product {
    font-size: 80%;
}


.marketplace-left-options-wrapper {
    position: absolute;
    top: 10px;
    left: 0;
    direction: ltr;
}

.marketplace-left-options-button {
    background: none;
    outline: none;
    border-style: none;
    cursor: pointer;
    color: white;
}

.marketplace-left-options-buttons {
    width: fit-content;
    background: white;
    outline: none;
    border-style: none;
    cursor: pointer;
    position: absolute;
    top: -7px;
}


.css-edsu1d-MuiButtonGroup-root .MuiButtonGroup-firstButton, .css-edsu1d-MuiButtonGroup-root .MuiButtonGroup-middleButton {
    width: 10px;
    padding: 0;
}

.marketplace-left-options-button-exit {
    padding-bottom: 15px;
}

.marketplace-left-contents {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
