.topnav-wrapper {
    width: 100%;
    height: 100%;
    background-color: #332f2f;
    color: white;
    font-family: inherit;
    display: flex;
    flex-direction: row;

}

.topnav-left-side {
    width: 33.3333333%;
    display: flex;
    flex-direction: row;
    padding-left: 1%;

}
.topnav-sub-left-orgenaize {
    display: flex;
    flex-direction: row;
    gap: 2%;
}
.topnav-sub-left-wrapper {
    width: -webkit-fill-available;
    height: 100%;
    margin: auto;
    text-align: center;
}

.topnav-middle-side {
    width: 33.3333333%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2%;

}
.topnav-sub-middle-wrapper {
    height: -webkit-fill-available;
    margin: auto;
    text-align: center;
    width: 12%;
}

.topnav-home-icon {
    width: 100%;
    height: 100%;
    background-color: #332f2f;
}

.topnav-right-side {
    width: 33.3333333%;
    display: flex;
    flex-direction: row;
    direction: rtl;
    padding-right: 1%;

}
.topnav-sub-right-wrapper {
    display: flex;
    flex-direction: row;
    gap: 2%;
}
.topnav-search-wrapper {
    border-radius: 10%;
    width: -webkit-fill-available;
    margin: auto;
    text-align: right;
    
}
.topnav-sub-search {
    height: 100%;
    padding: 2%;
    width: 75%;
    direction: rtl;
    border-radius: 5px;
    
}
.topnav-facebook-icon-wrapper {
    height: -webkit-fill-available;
    width: 12%;
    margin: auto;
}

.topnav-button-circle {
    border-radius: 50%;
    height: 80%;

}

.topnav-pointer {
    cursor: pointer;
    height: -webkit-fill-available;
    /* border: none;
    background-color: #332f2f; */
}

.topnav-facebook-button {
    background-color: #332f2f;
    display:block;
    height: 100%;
    border: none;
}

.topnav-facebook-icon {
    width: 100%;
    height: 100%;
    background-color: #332f2f;
}
