.topnav-wrapper {
    padding: 1vh;
    height: fit-content;
    background-color: #222223;
    color: white;
    font-family: inherit;
    display: flex;
    flex-direction: row;

}

.topnav-left-side {
    width: 33.3333333%;
    display: flex;
    flex-direction: row;
    padding-left: 1%;
    position: relative;

}
.topnav-sub-left-orgenaize {
    display: flex;
    flex-direction: row;
    gap: 5%;
}
.topnav-sub-left-wrapper {
    width: 50px;
    margin: auto;
    text-align: center;
}

.topnav-left-icons {
    width: 100%;
}

.topnav-left-icons:hover {
    filter: brightness(120%);
}

.topnav-account-icon {
    font-size: 280%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.topnav-menu-icon {
    font-size: 200%;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;

}

.topnav-menu-alert {
    position: absolute;
    bottom: -4px;
    left: 28px;
    color: red;
}

.topnav-notification-menu {
    width: max-content;
    position: absolute;
    height: fit-content;
    background-color: #222223;
    top: 123%;
    display: flex;
    flex-direction: column;
    padding: 4%;
    z-index: 2;
    border-radius: 10px;
    gap: 5px;
    box-shadow: -1px 3px 6px #ffffff33;
    overflow-y: auto;
    max-height: 16rem;
}

.topnav-sub-notification-menu {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-radius: 10px;
    padding: 1%;
}

.topnav-sub-notification-box-title {
    font-size: 80%;
    font-weight: 500;
    display: flex;
    align-items: center;
    height: -moz-fit-content;
    height: fit-content;
}

.topnav-sub-notification-menu-orgnize {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    gap: 7px;
}

.topnav-notification-sub-wrapper {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: auto;
    gap: 5px;
}

.topnav-notification-yes-button {
    width: 50%;
    outline: none;
    cursor: pointer;
    border: none;
    background: none;
    border-radius: 10px;
    background: #1877f2;
    color: white;
    font-size: 110%;
    padding: 3%;
}
.topnav-notification-yes-button:hover {
    background-color: #368bfa;
    transition: all 500ms ease;
}

.topnav-notification-no-button {
    width: 50%;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    background: none;
    color: white;
    border: 1px solid black;
}
.topnav-notification-no-button:hover {
    background-color: #4a4e50;
    transition: all 500ms ease;
}

.topnav-no-notifications-title {
    justify-content: center;
    font-size: 110%;
}

.topnav-round-wrapper {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: auto;
    background: #3a3b3c;
}

.topnav-round-wrapper:hover {
    filter: brightness(120%);
}

.topnav-middle-side {
    width: 33.3333333%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
}

.topnav-sub-middle-wrapper {
    width: 25px;
    margin: auto;
}

.topnav-sub-middle-wrapper:hover {
    filter: brightness(120%);
}

.topnav-middle-icons {
    width: 100%;
}

.topnav-middle-buttons {
    background-color: #222223;
    border: none;
    cursor: pointer;
}


.topnav-right-side {
    width: 33.3333333%;
    display: flex;
    flex-direction: row;
    padding-right: 1%;
    gap: 1%;

}

.topnav-sub-right-wrapper {
    display: flex;
    flex-direction: row;
    gap: 2%;
}

.topnav-search-wrapper {
    width: 100%;
    margin: auto;

}

.topnav-sub-search {
    background-color: #2e2e2e;
    padding: 4%;
    border-radius: 20px;
    border: none;
    outline: none;
    color: white;
    width: 100%;
}

.topnav-search-sub-wrapper {
    position: relative;
    width: 75%;
}

.topnav-search-box-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 4%;
    background-color: #222223;
    direction: ltr;
    z-index: 2;
    border-radius: 10px;
    gap: 5px;
    box-shadow: -1px 3px 6px #ffffff33;
    overflow-y: auto;
    max-height: 16rem;
}

.topnav-search-box-wrapper::-webkit-scrollbar {
    width: 8px;
}

.topnav-search-box-wrapper::-webkit-scrollbar-thumb {
    background: linear-gradient(13deg, #7c7c80 14%, #7d7b7e 64%);
    border-radius: 10px;

}

.topnav-search-box-wrapper::-webkit-scrollbar-track {
    background: #3b3939;
    border-radius: 10px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
}


.topnav-search-box {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: end;
    cursor: pointer;
    border-radius: 10px;
    padding: 2%;
    align-items: center;
}
.topnav-search-box:hover {
    background-color: #3d3d3f;
    transition: all 500ms ease;
}

.topnav-search-box-title {
    font-size: 80%;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-top: -10px;
    height: fit-content;
}

.topnav-search-box-img {
    width: 40px;
    border-radius: 50px;
}

.topnav-search-box-none-img {
    font-size: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.topnav-search-box-img-wrapper {
    display: flex;
    align-items: center;
}

.topnav-search-no-result-wrapper {
    text-align: center;
    font-size: 90%;
    font-weight: 600;
}

.topnav-facebook-icon-wrapper {
    width: 46px;
    margin: auto;
}

.topnav-button-circle {
    width: 40px;
    background: none;
    outline: none;
    border-style: none;
}

.topnav-pointer {
    cursor: pointer;
    height: -webkit-fill-available;
}

.topnav-facebook-icon {
    width: 100%;
    height: 100%;
    background-color: #222223;
}

.topnav-facebook-icon:hover {
    filter: brightness(120%);
}

.topnav-account-button {
    text-decoration: none;
    color: white;
}

.topnav-user-image-wrapper {
    display: flex;
    align-items: center;
}

.topnav-user-image {
    width: 40px;
    border-radius: 50%;
}

.topnav-user-image:hover {
    filter: brightness(120%);
}

.info-box {
    width: 100%;
    height: 50px;
    position: absolute;
    z-index: 0;
}

.topnav-search-skeleton {
    display: flex;
    flex-direction: row-reverse !important;
    gap: 3%;
    align-items: start;
}

.topnav-search-skeleton-text {
    width: 30%;
}

.css-jfdv4h-MuiStack-root>:not(style):not(style) {
    margin: 0;
    background: grey;
}

/* notifications alert style */
span.MuiBadge-root.css-1c32n2y-MuiBadge-root {
    display: flex;
}




/* Responsive - Style */

/* For Tablets: */
@media only screen and (max-width: 780px) {

    /* Topnav - Left side  */
    .topnav-left-side {
        width: 5%;
        padding: 0;
    }

    .topnav-sub-left-orgenaize {
        display: none;

    }

    .topnav-user-image-wrapper {
        background: #2b2c2d;
        border-radius: 5%;
        padding: 2%;
    }
    
    .topnav-sub-left-wrapper {
        margin: 0;
        background: #2b2c2d;
        border-radius: 5%;
        width: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;    
    }

    .topnav-sub-left-text-phone {
        justify-content: center;
        display: flex;
        width: 100%;
    }

    .topnav-button-circle {
        display: flex;
        justify-content: center;
        padding: 2%;
    }

    /* Topnav - Middle side  */
    .topnav-middle-side {
        width: 55%;
    }


    /* Topnav - Right side  */
    .topnav-right-side {
        width: 40%;
    }

    .topnav-search-sub-wrapper {
        width: 88%;
    }

    .topnav-notification-menu {
        top: 14%;
        width: max-content;
        left: 0;
        right: 0;
    }
}

/* For Mobile Phones: */
@media only screen and (max-width: 500px) {

    /* Topnav - Middle side  */
    .topnav-middle-side {
        width: 95%;
    }

    /* Topnav - Right side  */
    .topnav-right-side {
        display: none;
    }

    .topnav-search-sub-wrapper {
        width: 93%;
        padding-top: 4%;
    }

    .topnav-sub-search {
        border-radius: 10px;
    }

}


.topnav-sub-left-screen-phone {
    display: flex;
    position: absolute;
    top: 120%;
    flex-direction: column;
    gap: 7px;
    width: 150px;
    height: 100vh;
    background-color: #222223;
    border-radius: 4%;
    padding: 10% 15% 30% 10%;
}

.topnav-left-hamburger-wrapper {
    background: none;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: large;
}

