.friendslist-wrapper {
    direction: rtl;
    padding: 2%;
    display: flex;
    flex-direction: row;
    gap: 1%;
}

.friendslist-box {
    width: 13%;
    gap: 25px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
}

.friendslist-img {
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
}
.friendslist-img:hover{
    filter: brightness(120%);
}

.friendslist-username {
    font-size: 120%;
    font-weight: 600;
}

.friendslist-none-img {
    font-size: 203.83px;
    display: flex;
    text-align: center;
    justify-content: center;
}
