.post-comment-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffff33;
    z-index: 100000;
}

.post-wrapper {
    background-color: #242526;
    border-radius: 15px;
    padding: 7%;
}


.post-top-info-wrapper {
    display: flex;
    flex-direction: row;
    direction: rtl;
    gap: 7px;
}

.post-userimage-wrapper {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.post-userimage-wrapper:hover {
    filter: brightness(120%);
}

.post-top-text-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.post-top-username-wrapper {
    font-weight: 600;
    cursor: pointer;
}
.post-top-username:hover {
    filter: brightness(120%);
}

.post-top-privacydate-wrapper {
    display: flex;
    flex-direction: row;
    gap: 5px;
    direction: ltr;
    justify-content: right;
    align-items: center;
}

.privacy-icon {
    font-size: 70%;
}

.post-top-date-wrapper {
    font-size: 65%;
    display: flex;
    align-items: center;
    color: #909296;
}


.post-top-text-wrapper {
    display: flex;
    padding: 1% 1% 2% 1%;
}

.post-top-image-wrapper {
    width: 100%;
    margin-bottom: 5%;
}


.post-like-board-wrapper {
    padding-right: 2%;
    padding-left: 2%;
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    justify-content: space-between;
}

.post-like-board-trio-wrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;;
    direction: rtl;
    color: #a6a8ad;
    cursor: pointer;
    align-items: center;
}

.post-like {
    display: flex;
    align-items: center;
    font-size: 120%;

}

.post-dislike {
    display: flex;
    align-items: center;
    color: #0566ff;
    font-size: 120%;
}


.post-comment-wrapper {
    position: absolute;
    top: 30%;
    right: 36%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 29%;
    height: 60%;
    overflow-y: auto;
    background: #181616;
    border-radius: 5px;
    border: 1px solid floralwhite;
}

.post-comment-exit-icon {
    outline: none;
    background: none;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    padding: 1%;
}

.post-all_comments-wrapper {
    display: flex;
    flex-direction: column;
    height: 80%;
    padding: 7% 4% 0% 1%;
    overflow-y: auto;
    gap: 5px;
}
.post-all_comments-content {
    display: flex;
    flex-direction: row;
    direction: rtl;
    padding: 1%;
    gap: 7px;
}
.post-all_comments-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.post-all_comments-text {
    padding: 0% 7% 0% 0%;
    width: 100%;
}


.post-comment_action-wrapper {
    display: flex;
    flex-direction: row-reverse;
    height: 20%;
    padding: 1%;
    justify-content: flex-end;
    align-items: end;
    gap: 10px;
}

.post-comment-placeholder {
    width: 100%;
    height: 35%;
    display: flex;
    text-align: end;
    color: white;
    border: 1px solid white;
    background: none;
    padding: 1%;
    border-radius: 5px;
}

.post-comment-submit-button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: grey;
    font-size: 110%;
}