.chats-background {
    width: 100vw;
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.chats-wrapper {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    width: 20%;
    height: 50%;
    background: #242526;
    border-radius: 5px;
    border: 1px solid grey;
}

.chats-user-info {
    /* height: 10%; */
    display: flex;
    flex-direction: row;
    color: white;
    padding: 2%;
    gap: 8px;
    border-bottom: 1px solid grey;
}

.chats-user-info-text-wrapper {
    display: flex;
    flex-direction: column;
}

.chats-conversation-wrapper {
    height: 80%;
    overflow-y: auto;
}

.chats-message-wrapper {
    /* height: 10%; */
    display: flex;
    flex-direction: row;
    padding: 1%;
    align-items: end;
    gap: 10px;
    justify-content: space-between;

}

.chats-message-text {
    width: 80%;
    color: white;
    border: 1px solid white;
    background: none;
    padding: 3%;
    border-radius: 5px;
}

.chats-message-send-button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: grey;
    font-size: 110%;
}

.chats-conversation-message-wrapper {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    padding: 3%;
}

.chats-conversation-message {
    color: white;
    font-size: 80%;
}

.chats-exit-icon {
    outline: none;
    background: none;
    border: none;
    position: absolute;
    top: -33px;
    cursor: pointer;
    padding: 1%;
}

.chats-position-hebrew {
    left: 4.5%;
    right: 0;
}

.chats-position-english {
    right: 4.5%;
    left: 0;
}

.chats-exit-icon-hebrew {
    right: -33px;
}

.chats-exit-icon-english {
    left: -33px;
}




/* Responsive - Style */

/* For Tablets: */
@media only screen and (max-width: 1150px) {

    .chats-wrapper {
        width: 30%;
        left: 6.5%;
    }

}

/* For Tablets: */
@media only screen and (max-width: 780px) {

    .chats-wrapper {
        width: 40%;
        left: 6.5%;
    }

    .chats-exit-icon {
        display: none;
    }
}

/* For Mobile Phones: */
@media only screen and (max-width: 500px) {

    .chats-wrapper {
        width: 80%;
        left: 6.5%;
    }

}