/* width */
.profile-center-left-wrapper ::-webkit-scrollbar {
    width: 3px;
}
  
  /* Track */
.profile-center-left-wrapper ::-webkit-scrollbar-track {
    background: #d0cdcd;
}
  
  /* Handle */
.profile-center-left-wrapper ::-webkit-scrollbar-thumb {
    background: #3f3f3f;
}
  
  /* Handle on hover */
.profile-center-left-wrapper ::-webkit-scrollbar-thumb:hover {
    background: #555;
}




.postupload-wrapper {
    width: 90%;
    height: 100%;
    background: #18191a;
    margin: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    gap: 15px;
}

.postupload-input-wrapper {
    height: 5vh;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.postupload-input {
    background: #18191a;
    padding: 2%;
    width: 80%;
    border: none;
    outline: none;
    color: white;
    text-align: right;
}

.postupload-image-wrapper {
    height: 22vh;
}

.postupload-image-sub-wrapper {
    width: 75%;
    height: 100%;
    background-color: #29292b;
    margin: auto;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.postupload-image-sub-wrapper:hover {
    filter: brightness(120%);
}
.postupload-img-plusicon {
    width: 50px !important;
}

.postupload-ed-image {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.postupload-privacy-wrapper {
    height: 10%;
    margin: auto;
    color: white;
}

.postupload-privacy-button:hover{
    background-color: rgb(65, 65, 65);
    border-radius: 15px;
    transition: all 500ms ease;
}

.postupload-post-button {
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
    margin-top: 4%;
    width: 60% !important;
    cursor: pointer;
}

.postupload-upload-button-wrapper {
    padding: 3%;
    text-align: right;
    background: #18191a;
}

.postupload-upload-button {
    width: 100%;
    background-color: #2e2e2e;
    text-decoration: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 3%;
    border-radius: 5px;
}

.postupload-upload-button:hover {
    filter: brightness(120%);
}

.postupload-upload-img-wrapper {
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1;
}

.postupload-arrow-button-wrapper {
    border: none;
    background: none;
    color: white;
    font-size: 150%;
    cursor: pointer;
}

.postupload-form-loading {
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 2%;
    border-radius: 5px;
    border: none;
    background: #1877f2;
}