.home-wrapper {
    background: #181616;
    height: fit-content;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: row;
}

.home-left-wrapper {
    width: 22%;
}

.home-center-wrapper {
    width: 56%;
}

.home-right-wrapper {
    width: 22%;
}




/* Responsive - Style */

/* For Mobile Phones: */
@media only screen and (max-width: 780px) {

    .home-left-wrapper {
        display: none;
    }

    .home-right-wrapper {
        display: none;
    }

    .home-center-wrapper {
        width: 100%;
    }
}