.profile-wrapper {
    background: #181616;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.profile-wrapper-basics {
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 20%;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 1%;
    background-color: #222223;
    direction: rtl;
    color: white;
}

.sub-profile-basics-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: auto;
    padding: 0% 0% 2% 1%;
}

.sub-profile-image-wrapper {
    width: 20%;
    margin: auto;
    padding: 0% 1% 0% 2%;
    position: relative;
    display: flex;
    justify-content: center;
}

.sub-profile-basics {
    width: 20%;
    margin-top: auto;
    padding: 0% 0% 2% 1%;
}

.sub-profile-basics:hover {
    filter: brightness(120%);
}

.sub-profile-edit-button {
    background-color: #2e2e2e;
    text-decoration: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10%;
    border-radius: 10%;
}

.sub-profile-friends-button {
    padding: 6% 12% 6% 12%;
    border-radius: 5px;
    border: none;
    background: #1877f2;
    color: white;
    font-weight: 700;
    font-size: 100%;
    cursor: pointer;
}

.sub-profile-already-friends-button {
    background-color: #2e2e2e;
    text-decoration: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 6% 12% 6% 12%;
    border-radius: 10%;
}

.profile-friendsnumber-button {
    text-decoration: underline;
    border: none;
    cursor: pointer;
    background: none;
    color: #069;
    font-size: 110%;
}

.profile-fullname-text {
    display: flex;
    flex-direction: row;
    font-weight: 500;
    gap: 1%;
}

.profile-center-wrapper {
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 65%;
    margin: auto;
    margin-top: 1%;
    gap: 2%;
}

.profile-center-right-wrapper {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    background-color: #222223;
    color: white;
    text-align: right;
    border-radius: 1%;
}

.profile-center-right-inshortcut {
    padding: 2%;
    font-size: 120%;
    font-weight: 600;
}

.profile-center-left-wrapper {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 61vh;
    color: white;
    border-radius: 1%;
    overflow-y: auto;

}

.profile-details-wrapper {
    display: flex;
    flex-direction: row;
    direction: rtl;
}

.profile-inner-details-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.profile-details {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.profile-details-icons {
    width: 25px;
}

.profile-details-text {
    padding: 1%;
    font-size: 80%;
}

.profile-biography-wrapper {
    text-align: center;
    font-size: 80%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.profile-biography-text {
    word-wrap: break-word;
    padding: 0 5%;
}

.profile-center-right-sub-wrapper {
    padding: 7% 3%;
}

.profile-update-profile-wrapper-wrapper {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.profile-update-profile-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #98999b5e !important;
    z-index: 1;
}

.profile-exit-icon {
    position: absolute;
    top: -10%;
    right: -20%;
    width: fit-content;
    cursor: pointer;
    border: none;
    z-index: 2;
    background: rgba(255, 255, 255, -0.5);
}

.profile-file-update {
    display: none;
}

.profile-img-wrapper {
    width: fit-content;
    position: relative;
}

.profile-upload-img-wrapper {
    position: absolute;
    bottom: -3px;
    left: -10px;
    background: none;
    border: none;
    cursor: pointer;
}

.profile-upload-img {
    width: 20px;
}

.profile-sub-sub-image-wrapper {
    position: relative;
}

.profile-user-image {
    width: 85px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-user-edit-image {
    position: absolute;
    bottom: -6px;
    right: 66px;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
}

.profile-user-delete-image {
    position: absolute;
    top: -2px;
    left: 69px;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
}


.profile-user-no-image {
    font-size: 650%;
    display: flex;
    text-align: center;
    justify-content: center;
}


.profile-center-left-wrapper::-webkit-scrollbar {
    width: 8px;
}

.profile-center-left-wrapper::-webkit-scrollbar-thumb {
    background: linear-gradient(13deg, #7c7c80 14%, #7d7b7e 64%);
    border-radius: 10px;

}

.profile-center-left-wrapper::-webkit-scrollbar-track {
    background: #3b3939;
    border-radius: 10px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
}
