.displayposts-wrapper-wrapper {
    width: 90%;
    height: 100%;
    background: #18191a;
    margin: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    gap: 15px;
}

.displaypost-noposts {
    display: flex;
    justify-content: center;
}





